@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	section
		.cnt_main_info
			.items
				.item
					width: 80%
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.rest_items
		.item
			&_name
				display: inline-block
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	section
		.cnt_main_info
			.items
				.item
					width: 100%

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	header.main_header
		nav.mob_nav
			background-color: transparent
			box-shadow: none
			// height: 100vh
			ul.main_nav_ul
				display: none
				li
					margin-right: 0
			.burger_menu
				display: block


		.main_slide
			margin-top: 0
			height: 100vh
			.caption
				padding: 20px
				h1
					font-size: 2em
				p
					width: 100%
		.menu_mobile
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
	section
		.cnt_main_info
			padding: 5px
			.items
				.item
					width: 100%
					font-size: 1.1em
	.main_slide.sight
		.caption
			h1
				writing-mode: vertical-rl
				text-orientation: mixed
				position: absolute
				left: 0px
				top: 20px
				color: rgba(255, 255, 255, 0.5)
	section.etmt_main_section
		.cnt_nav
			.nav-tabs
				height: 100px
				.container
					a
						margin-bottom: 10px
		.cnt_etmt
			.tab-pane
				.rest_items
					.item
						img
							width: 20%
		.cnt_etmt
			.tab-pane
				.panel-group
					.panel.panel-default
						.panel-collapse.collapse
							.panel-body
								height: 
								flex-wrap: wrap
								.wrap_item
								a
									width: 100%
									img


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	header.main_header
		nav
			background-color: transparent
			box-shadow: none
			height: 100vh
			display: none
			ul.main_nav_ul
				display: none
				li
					margin-right: 0
			.burger_menu
				display: block


		.main_slide
			margin-top: 0
			height: 100vh
			.caption
				padding: 20px
				h1
					font-size: 2em
				p
					width: 100%
		.menu_mobile
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex

@media only screen and (max-height : 468px)
	.main_slide
		height: 700px

